@use "./variables" as *;

.attribution {
  position: static;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: hsla(230, 8%, 15%, 0.8);

  a {
    color: hsla(230, 8%, 15%, 0.6);
    transition: 0.2s ease;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: hsla(230, 8%, 15%, 0.4);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.5s;
  -webkit-animation: fade-in 1.5s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@function hslac($color, $alpha) {
  @if (type-of($color) == "color") {
    @return hsla(hue($color), saturation($color), lightness($color), $alpha);
  } @else {
    @error "You didn't pass a color object";
  }
}

.btn-secondary {
  color: $clr-neutral-100;
  letter-spacing: -0.01rem;
  font-weight: 700;
  margin-bottom: 0.25rem;

  &::after {
    content: "";
    display: block;
    width: 100%;
    background: $clr-primary;
    height: 0.1875rem;
    margin-top: 0.1rem;
  }
}

.btn-primary {
  border: none;
  padding: 0.69rem 1.5rem 0.75rem;
  background: $clr-primary;
  font-weight: 700;
  line-height: 2;
}

@media only screen and (min-width: 61.25em) {
  .btn-primary {
    line-height: 1.77778;
    letter-spacing: -0.01125rem;
    padding: 0.81rem 2rem 1rem;
  }
}

.fs-400 {
  font-size: $fs-400;
}

.fs-500 {
  font-size: $fs-500;
}

.fs-600 {
  font-size: $fs-600;
}

.fs-700 {
  font-size: $fs-700;
}

.fs-800 {
  font-size: $fs-800;
}

.ff-body {
  font-family: $ff-body;
}

.ff-secondary {
  font-family: $ff-secondary;
}

.clr-neutral-100 {
  color: $clr-neutral-100;
}

.clr-neutral-200 {
  color: $clr-neutral-200;
}

.clr-neutral-600 {
  color: $clr-neutral-600;
}

.clr-primary {
  color: $clr-primary;
}

.clr-secondary {
  color: $clr-secondary;
}
