:root {
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-800: 3.125rem;
}

@media (min-width: 30.875em) {
  :root {
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.75rem;
    --fs-700: 3rem;
    --fs-800: 3.75rem;
  }
}
@media (min-width: 61.25em) {
  :root {
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 5rem;
  }
}
.attribution {
  position: static;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: hsla(230, 8%, 15%, 0.8);
}
.attribution a {
  color: hsla(230, 8%, 15%, 0.6);
  transition: 0.2s ease;
  text-decoration: underline;
}
.attribution a:hover,
.attribution a:active {
  color: hsla(230, 8%, 15%, 0.4);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1.5s;
  -webkit-animation: fade-in 1.5s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn-secondary {
  color: hsl(0, 0%, 100%);
  letter-spacing: -0.01rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.btn-secondary::after {
  content: "";
  display: block;
  width: 100%;
  background: hsl(150, 100%, 63%);
  height: 0.1875rem;
  margin-top: 0.1rem;
}

.btn-primary {
  border: none;
  padding: 0.69rem 1.5rem 0.75rem;
  background: hsl(150, 100%, 63%);
  font-weight: 700;
  line-height: 2;
}

@media only screen and (min-width: 61.25em) {
  .btn-primary {
    line-height: 1.77778;
    letter-spacing: -0.01125rem;
    padding: 0.81rem 2rem 1rem;
  }
}
.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.ff-body {
  font-family: "Manrope", sans-serif;
}

.ff-secondary {
  font-family: "Fraunces", serif;
}

.clr-neutral-100 {
  color: hsl(0, 0%, 100%);
}

.clr-neutral-200 {
  color: hsl(276, 100%, 99%);
}

.clr-neutral-600 {
  color: hsl(271, 12%, 34%);
}

.clr-primary {
  color: hsl(150, 100%, 63%);
}

.clr-secondary {
  color: hsl(273, 85%, 13%);
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url(../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Manrope", sans-serif;
  color: hsl(273, 85%, 13%);
  background-image: url("../assets/images/bg-purple-mobile.svg"), url("../assets/images/bg-white-mobile.svg");
  background-size: contain, contain;
  background-position: top, top 54vh left;
  background-repeat: no-repeat, no-repeat;
}

.wrapper {
  margin: 2.31rem 1rem 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-heading {
  line-height: 1;
  font-weight: 600;
  margin-top: 3.75rem;
}

.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background: hsl(150, 100%, 63%);
}

.top {
  text-align: center;
}
.top .btn-primary {
  margin: 2.5rem auto 0;
}

.hero-image {
  max-width: 20rem;
  margin-inline: auto;
  margin-top: 4rem;
  padding-left: 1.25rem;
}

.advantages {
  text-align: center;
  margin-top: 4.35rem;
}
.advantages__list {
  display: grid;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}

.advantage__number {
  display: grid;
  place-items: center;
  border: 1px solid hsl(271, 12%, 34%);
  width: 3rem;
  height: 2.875rem;
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 1.5rem;
  aspect-ratio: 1;
}
.advantage__content {
  display: grid;
  gap: 0.75rem;
}
.advantage__body {
  line-height: 1.75;
}

.cta {
  margin-top: 22rem;
}
.cta__content {
  position: relative;
  background-color: hsl(273, 85%, 13%);
  text-align: center;
  padding: 2rem 1.97rem;
}
.cta__content::before {
  content: "";
  position: absolute;
  width: 17.5rem;
  aspect-ratio: 1;
  background-image: url("../assets/images/image-founder.webp");
  background-size: contain;
  top: -14rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}
.cta__heading {
  line-height: 1.5;
  margin-bottom: 1rem;
}
.cta__body {
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

.footer {
  width: 7.25rem;
  height: 6.389rem;
  margin-inline: auto;
  margin-top: 4.62rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo-box {
  display: flex;
  justify-content: center;
}
.footer__socials-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 30em) {
  body {
    background-image: url("../assets/images/bg-purple-tablet.svg"), url("../assets/images/bg-white-mobile.svg");
    background-position: top, top 40vh left;
  }
}
@media only screen and (min-width: 37.5em) {
  body {
    background-image: url("../assets/images/bg-purple-tablet.svg"), url("../assets/images/bg-white-tablet.svg");
    background-position: top, top 57.5vh left;
  }
  .wrapper {
    margin: 2.31rem 2.5rem 4rem;
  }
  .primary-heading {
    margin-top: 3.3rem;
    margin-inline: 8rem;
  }
  .hero-image {
    max-width: 33.5rem;
    padding-left: 2rem;
  }
  .underline::after {
    bottom: 0.4rem;
  }
  .advantages {
    margin-top: 3.15rem;
    text-align: start;
    padding: 0 3.7rem;
  }
  .advantages__list {
    gap: 3rem;
  }
  .advantage {
    display: flex;
    gap: 2rem;
  }
  .advantage__number {
    margin: 2.95rem 0 0;
  }
  .cta {
    display: flex;
    justify-content: center;
    margin: 22rem 0 0 10.75rem;
  }
  .cta__content {
    max-width: 32.125rem;
    text-align: start;
    padding: 2.5rem 3.5rem 3.5rem;
  }
  .cta__content::before {
    left: -7%;
    top: -40%;
  }
}
@media only screen and (min-width: 61.25em) {
  body {
    background-image: url("../assets/images/bg-purple-desktop.svg"), url("../assets/images/bg-white-desktop.svg");
  }
  .wrapper {
    max-width: 69.625rem;
    margin-inline: auto;
    margin-top: 3.5rem;
  }
  .header .btn-secondary {
    margin-top: 0.125rem;
  }
  .primary-heading {
    max-width: 40rem;
    margin-inline: auto;
  }
  .top .btn-primary {
    margin-top: 2.31rem;
  }
  .hero-image {
    max-width: 51.5rem;
    margin-top: 3rem;
    padding-left: 3.35rem;
  }
  .advantages {
    padding: 0;
    margin-top: 5.65rem;
  }
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.62rem;
  }
  .advantage {
    display: block;
    text-align: center;
  }
  .advantage__number {
    margin: 0 auto 3.25rem;
    width: 3.5rem;
    height: 3.5rem;
  }
  .advantage__content {
    gap: 1.5rem;
  }
  .cta {
    margin: 28.4rem 0 0 23.8rem;
  }
  .cta__content {
    padding: 3.4rem 4rem 4.2rem;
    max-width: 45.625rem;
  }
  .cta__content::before {
    width: 29.8125rem;
    top: -41.5%;
    left: -19.5%;
  }
  .cta__heading {
    margin-bottom: 1.5rem;
  }
  .cta__body {
    margin-bottom: 2.1rem;
  }
  .footer {
    margin-top: 7.5rem;
    height: 6.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
